# Project Work, Part 4 - Machine Learning
## 1. Introduction
This project involves analysing data with implementing machine learning model in a Jupyter Notebook and creating a multi-page online app with Streamlit, with all work and code shared on GitHub. AI tools (e.g., ChatGPT) were utilized during the project to clarify requirements and to gain a deeper understanding of the technologies used.

## 2. Repository and App Links
- GitHub: https://github.com/Indraadhikari/IND320_Indra
- Streamlit app: https://ind320-k2r8aymxk9takanegm8e3y.streamlit.app

## 3. Project Overview
### 3.1 AI Usage Description
In this part of the project, I leveraged AI (ChatGPT/Claude) as a development assistant. AI helped in designing a multi-page Streamlit application, debugging Python issues with time series and geospatial data, and improving code structure. Specifically, AI assisted in:

- Handling misaligned DataFrames and cleaning missing values in energy and meteorological data to avoid SARIMAX errors
- Implementing GeoJSON processing for interactive maps with coordinate selection and session state management
- Translating Tabler (2003) snow drift calculations and creating 16-sector wind rose diagrams
- Structuring sliding window correlation analysis with configurable lag parameters
- Debugging statsmodels errors related to exogenous variables and timestamp arithmetic
- Implementing caching strategies and Plotly visualizations with confidence intervals

All AI outputs were validated and adjusted to ensure correctness and reproducibility.

### 3.2 Project Log
Updated the global selection mechanism using `st.session_state` to store selected price area (NO1-NO5) and coordinates, ensuring consistency across all pages.

**Interactive Map:** Created GeoJSON-based choropleth visualization of Norwegian price areas. Users can click to select areas and coordinates, with mean energy production calculated by time interval (7-90 days) and energy group (hydro, wind, solar, etc.). Selected areas are highlighted with red outlines and coordinates marked with stars.

**Snow Drift Analysis:** Implemented Tabler (2003) method with seasons defined as July 1 to June 30. Fetched hourly meteorological data from Open-Meteo API (temperature, precipitation, wind speed, direction). Calculated potential and actual snow transport (Qupot, Qt) and created wind rose diagrams showing directional distribution. Uses coordinates from map selection.

**Correlation Analysis:** Built sliding window correlation with selectable lag (-168 to +168 hours) between meteorological variables and energy production. Aligned hourly weather data with energy time series, detected extreme events (>2σ), and created three-panel visualizations showing correlation changes, weather patterns, and production levels over time.

**SARIMAX Forecasting:** Implemented time series forecasting with full parameter control (p,d,q)(P,D,Q,s). Users select energy group, training period, and forecast horizon (24-720 hours). Optional exogenous variables use hourly seasonal patterns for future periods. Results display historical data, forecasts, and 95% confidence intervals with model metrics (AIC, BIC).

**Data Pipeline:** Elhub API → MongoDB → Streamlit (energy data); Open-Meteo API → cleaning/alignment → analysis (weather data); NVE API → GeoPandas → Plotly (GeoJSON).

The completed workflow demonstrates a full data pipeline: acquiring data dynamically via APIs, performing time‑series analysis, detecting anomalies, and presenting interactive results through a structured Streamlit interface and Jupyter Notebook.

# 4. Importing Libraries

In [2]:
import requests 
import pandas as pd
import calendar
import numpy as np
import matplotlib.pyplot as plt
from scipy.fftpack import dct, idct
from sklearn.neighbors import LocalOutlierFactor
from statsmodels.tsa.seasonal import STL
from scipy.signal import spectrogram
from cassandra.cluster import Cluster
from pymongo.mongo_client import MongoClient
from pyspark.sql import SparkSession
import os

## 5. Data Extraction and Loading

### 5.1 Connection Check for Cassandra

In [1]:
try:
    cluster = Cluster(['localhost'], port=9042)
    session = cluster.connect()
    print("✅ Connected to Cassandra!")
    print("Cluster name:", cluster.metadata.cluster_name)
    print("Hosts:", cluster.metadata.all_hosts())
    cluster.shutdown()
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected to Cassandra!
Cluster name: Test Cluster
Hosts: [<Host: 127.0.0.1:9042 datacenter1>]

### 5.2 Connection Check for MangoDB

In [24]:

c_file = '/Users/indra/Documents/Masters in Data Science/Data to Decision/IND320_Indra/No_sync/MongoDB.txt' #creadential file
USR, PWD = open(c_file).read().splitlines()

uri = "mongodb+srv://"+USR+":"+PWD+"@cluster0.wmoqhtp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

### 5.3 Reading Data from  Elhub API

In [7]:
def reading_data_from_elhub_api(entity,dataset,year=[2021]): 

    headers = {           
    }

    endpoint = "https://api.elhub.no/energy-data/v0/"
    entity = entity # 'price-areas'
    dataset = dataset # "PRODUCTION_PER_GROUP_MBA_HOUR"
    #startdate = '2022-01-01T00:20:00%2B02:00'
    #enddate = '2024-12-31T23:59:59%2B02:00'
    year = year # [2022, 2023, 2024]

    datafield = dataset.lower().split("_")
    camel_style_dataset = datafield[0] + "".join(word.capitalize() for word in datafield[1:])

    dates = []
    for i in year:
        year = i
        # accessing the data for a month at a time as Endpoint does not allow us to get for a whole year.
        for month in range(1, 13):
            # Get number of days in month
            _, last_day = calendar.monthrange(year, month)
            
            # Format month and day properly (e.g. 01, 02, …)
            startdate = f"{year}-{month:02d}-01T00:20:00%2B02:00"
            enddate = f"{year}-{month:02d}-{last_day:02d}T23:59:59%2B02:00"
            
            dates.append((startdate, enddate))

    all_data = []

    for startdate, enddate in dates:
        #print(f"Start: {start}   End: {end}")
        data = []
        response = requests.get(f"{endpoint}{entity}?dataset={dataset}&startDate={startdate}&endDate={enddate}", headers=headers)
        #print(response.status_code)
        data = response.json()
        #data['data'][1]['attributes']['productionPerGroupMbaHour']
        datafield = dataset.replace("_","")
        for i in data['data']:
            all_data.extend(i['attributes'][camel_style_dataset])
    df = pd.DataFrame(all_data)
    return df

#### 5.3.1 Reading PRODUCTION_PER_GROUP_MBA_HOUR Data

In [12]:
entity = 'price-areas'
dataset = "PRODUCTION_PER_GROUP_MBA_HOUR"
year = [2021, 2022, 2023, 2024]

df = reading_data_from_elhub_api(entity=entity,dataset=dataset,year=year)
print(f"The Shape of the Production dataframe: {df.shape}")
df.head()

The Shape of the Production dataframe: (656700, 6)

,endTime,lastUpdatedTime,priceArea,productionGroup,quantityKwh,startTime
0,2022-01-01T02:00:00+01:00,2025-02-01T18:02:57+01:00,NO1,hydro,1246209.4,2022-01-01T01:00:00+01:00
1,2022-01-01T03:00:00+01:00,2025-02-01T18:02:57+01:00,NO1,hydro,1271757.0,2022-01-01T02:00:00+01:00
2,2022-01-01T04:00:00+01:00,2025-02-01T18:02:57+01:00,NO1,hydro,1204251.8,2022-01-01T03:00:00+01:00
3,2022-01-01T05:00:00+01:00,2025-02-01T18:02:57+01:00,NO1,hydro,1202086.9,2022-01-01T04:00:00+01:00
4,2022-01-01T06:00:00+01:00,2025-02-01T18:02:57+01:00,NO1,hydro,1235809.9,2022-01-01T05:00:00+01:00

#### 5.3.2 Reading CONSUMPTION_PER_GROUP_MBA_HOUR Data

In [8]:
entity = 'price-areas'
dataset = "CONSUMPTION_PER_GROUP_MBA_HOUR"
year = [2021, 2022, 2023, 2024]

df_consumption = reading_data_from_elhub_api(entity=entity,dataset=dataset,year=year)
print(f"The Shape of the Consumption dataframe: {df_consumption.shape}")
df_consumption.head()

The Shape of the Consumption dataframe: (875400, 7)

,consumptionGroup,endTime,lastUpdatedTime,meteringPointCount,priceArea,quantityKwh,startTime
0,cabin,2021-01-01T02:00:00+01:00,2024-12-20T10:35:40+01:00,100607,NO1,171335.12,2021-01-01T01:00:00+01:00
1,cabin,2021-01-01T03:00:00+01:00,2024-12-20T10:35:40+01:00,100607,NO1,164912.02,2021-01-01T02:00:00+01:00
2,cabin,2021-01-01T04:00:00+01:00,2024-12-20T10:35:40+01:00,100607,NO1,160265.77,2021-01-01T03:00:00+01:00
3,cabin,2021-01-01T05:00:00+01:00,2024-12-20T10:35:40+01:00,100607,NO1,159828.69,2021-01-01T04:00:00+01:00
4,cabin,2021-01-01T06:00:00+01:00,2024-12-20T10:35:40+01:00,100607,NO1,160388.17,2021-01-01T05:00:00+01:00

### 5.4 Creating Keyspace and Table in Cassandra

In [44]:
#----------- Production Data Table --------------
#starting cassandra conection session
cluster = Cluster(['localhost'], port=9042)
session = cluster.connect()

#making id columns for Premary Key for the table.
if "id" not in df.columns:
    df = df.reset_index().rename(columns={'index': 'id'})
else:
    pass
df.columns

columns = ", ".join([f"{col} text" for col in df.columns]) # type is text
primary_key = df.columns[0]  # first column as primary key (id; index of the df)

# Create a keyspace (database)
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS infindra
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};
""")

#ALTER KEYSPACE infindra WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};

session.set_keyspace('infindra')

#Creating Tables
create_query = f"""
CREATE TABLE IF NOT EXISTS production_per_group (
    {columns},
    PRIMARY KEY ({primary_key})
)
"""
session.execute(create_query)
#session.execute("TRUNCATE TABLE production_per_group;")

WARNING:cassandra.cluster:Cluster.__init__ called with contact_points specified, but no load_balancing_policy. In the next major version, this will raise an error; please specify a load-balancing policy. (contact_points = ['localhost'], lbp = None)

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for ::1:9042. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for ::1:9042. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

In [9]:
#----------- Consumption Data Table --------------
cluster = Cluster(['localhost'], port=9042)
session = cluster.connect()

#making id columns for Premary Key for the table.
if "id" not in df_consumption.columns:
    df_consumption = df_consumption.reset_index().rename(columns={'index': 'id'})
else:
    pass
df_consumption.columns

columns = ", ".join([f"{col} text" for col in df_consumption.columns]) # type is text
primary_key = df_consumption.columns[0]  # first column as primary key (id; index of the df)

# Create a keyspace (database)
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS infindra
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};
""")

#ALTER KEYSPACE infindra WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};

session.set_keyspace('infindra')

#Creating Tables
create_query = f"""
CREATE TABLE IF NOT EXISTS consumption_per_group (
    {columns},
    PRIMARY KEY ({primary_key})
)
"""
session.execute(create_query)
#session.execute("TRUNCATE TABLE consumption_per_group;")

### 5.5 Inserting data to Cassandra using Spark

In [10]:
os.environ['JAVA_HOME'] = "/Library/Java/JavaVirtualMachines/microsoft-17.jdk/Contents/Home"
os.environ['PATH'] = os.path.join(os.environ['JAVA_HOME'], 'bin') + ":" + os.environ['PATH']

spark = (
    SparkSession.builder
    .appName("CassandraReadTest")
    .master("local[*]")
    .config("spark.jars.repositories",
            "https://repos.spark-packages.org,https://oss.sonatype.org/content/repositories/releases/")
    .config("spark.jars.packages",
            "com.datastax.spark:spark-cassandra-connector_2.12:3.5.1,"
            "org.mongodb.spark:mongo-spark-connector_2.12:3.0.2")
    .config("spark.cassandra.connection.host", "localhost")
    .config("spark.cassandra.connection.port", "9042")
    .getOrCreate()
)

print(f"✅ Spark version: {spark.version}")
#spark.stop()

✅ Spark version: 3.5.1

In [14]:
# Convert Pandas DataFrame to Spark DataFrame
spark_df = spark.createDataFrame(df)
spark_df_consumption = spark.createDataFrame(df_consumption)

spark_df = spark_df.toDF(*[c.lower() for c in spark_df.columns]) #changing the colomns name in lower case to match casandra table
spark_df_consumption = spark_df_consumption.toDF(*[c.lower() for c in spark_df_consumption.columns])
#spark_df.printSchema()
# Show the data
print(spark_df.show(2))
print(spark_df_consumption.show(2))

25/12/03 19:19:20 WARN TaskSetManager: Stage 0 contains a task of very large size (8830 KiB). The maximum recommended task size is 1000 KiB.
25/12/03 19:19:25 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 0 (TID 0): Attempting to kill Python Worker

+--------------------+--------------------+---------+---------------+-----------+--------------------+
|             endtime|     lastupdatedtime|pricearea|productiongroup|quantitykwh|           starttime|
+--------------------+--------------------+---------+---------------+-----------+--------------------+
|2022-01-01T02:00:...|2025-02-01T18:02:...|      NO1|          hydro|  1246209.4|2022-01-01T01:00:...|
|2022-01-01T03:00:...|2025-02-01T18:02:...|      NO1|          hydro|  1271757.0|2022-01-01T02:00:...|
+--------------------+--------------------+---------+---------------+-----------+--------------------+
only showing top 2 rows

None

25/12/03 19:19:27 WARN TaskSetManager: Stage 1 contains a task of very large size (12746 KiB). The maximum recommended task size is 1000 KiB.

+---+----------------+--------------------+--------------------+------------------+---------+-----------+--------------------+
| id|consumptiongroup|             endtime|     lastupdatedtime|meteringpointcount|pricearea|quantitykwh|           starttime|
+---+----------------+--------------------+--------------------+------------------+---------+-----------+--------------------+
|  0|           cabin|2021-01-01T02:00:...|2024-12-20T10:35:...|            100607|      NO1|  171335.12|2021-01-01T01:00:...|
|  1|           cabin|2021-01-01T03:00:...|2024-12-20T10:35:...|            100607|      NO1|  164912.02|2021-01-01T02:00:...|
+---+----------------+--------------------+--------------------+------------------+---------+-----------+--------------------+
only showing top 2 rows

None

25/12/03 19:19:31 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 1 (TID 1): Attempting to kill Python Worker

In [15]:
# Optimize Cassandra write settings
spark.conf.set("spark.cassandra.output.concurrent.writes", "5")
spark.conf.set("spark.cassandra.output.throughput_mb_per_sec", "200")
spark.conf.set("spark.cassandra.output.batch.size.rows", "1000")

# Write DataFrame to Cassandra
# keyspace='infindra' and table='production_per_group' exist in Cassandra
spark_df.write \
    .format("org.apache.spark.sql.cassandra") \
    .option("keyspace", "infindra") \
    .option("table", "production_per_group") \
    .option("confirm.truncate", "true") \
    .mode("overwrite") \
    .save()

# keyspace='infindra' and table='consumption_per_group' exist in Cassandra
spark_df_consumption.write \
    .format("org.apache.spark.sql.cassandra") \
    .option("keyspace", "infindra") \
    .option("table", "consumption_per_group") \
    .option("confirm.truncate", "true") \
    .mode("overwrite") \
    .save()

print("Data successfully written to Cassandra!")

25/12/03 19:20:57 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.
25/12/03 19:20:58 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.
25/12/03 19:20:58 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.
25/12/03 19:20:59 WARN TaskSetManager: Stage 2 contains a task of very large size (12746 KiB). The maximum recommended task size is 1000 KiB.

Data successfully written to Cassandra!

### 5.6 Reading Data from Cassandra

In [17]:
#dataframe for Elhub API´s PRODUCTION_PER_GROUP_MBA_HOUR data
def read_from_cassandra(table = 'production_per_group'):
    df = spark.read \
        .format("org.apache.spark.sql.cassandra") \
        .option("keyspace", "infindra") \
        .option("table", table) \
        .load()
    return df

def save_as_csv(df,file_path):
    df.coalesce(1) \
    .write \
    .option("header", True) \
    .mode("overwrite") \
    .csv(file_path)

In [19]:
df_p = read_from_cassandra(table = 'production_per_group')
save_as_csv(df_p, file_path= "No_sync/P_Energy")
# selected_df.show()
df_p.tail(5)

[Row(priceArea='NO2', productionGroup='solar', startTime='2024-12-26T19:00:00+01:00', quantityKwh='72.243'),
 Row(priceArea='NO4', productionGroup='hydro', startTime='2023-04-25T09:00:00+02:00', quantityKwh='3419812.2'),
 Row(priceArea='NO4', productionGroup='wind', startTime='2024-07-29T15:00:00+02:00', quantityKwh='94313.76'),
 Row(priceArea='NO3', productionGroup='hydro', startTime='2023-02-03T11:00:00+01:00', quantityKwh='2922081.5'),
 Row(priceArea='NO2', productionGroup='thermal', startTime='2022-06-14T00:00:00+02:00', quantityKwh='24708.13')]

In [33]:
df_c = read_from_cassandra(table = 'consumption_per_group')
save_as_csv(df_c, file_path= "No_sync/C_Energy")
df_c.tail(5)

25/12/03 20:12:46 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.
25/12/03 20:12:46 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.
25/12/03 20:12:46 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.
25/12/03 20:13:10 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.

[Row(id='781983', consumptiongroup='primary', endtime='2024-07-22T10:00:00+02:00', lastupdatedtime='2025-11-25T19:23:21+01:00', meteringpointcount='2039', pricearea='NO5', quantitykwh='12853.232', starttime='2024-07-22T09:00:00+02:00'),
 Row(id='718143', consumptiongroup='cabin', endtime='2024-04-15T19:00:00+02:00', lastupdatedtime='2025-11-24T21:02:14+01:00', meteringpointcount='62483', pricearea='NO3', quantitykwh='31051.992', starttime='2024-04-15T18:00:00+02:00'),
 Row(id='474836', consumptiongroup='primary', endtime='2023-03-26T05:00:00+02:00', lastupdatedtime='2025-11-25T06:28:28+01:00', meteringpointcount='8092', pricearea='NO1', quantitykwh='63533.51', starttime='2023-03-26T04:00:00+02:00'),
 Row(id='179217', consumptiongroup='household', endtime='2021-10-02T21:00:00+02:00', lastupdatedtime='2024-12-20T10:35:40+01:00', meteringpointcount='248664', pricearea='NO5', quantitykwh='391079.78', starttime='2021-10-02T20:00:00+02:00'),
 Row(id='748076', consumptiongroup='household', endtime='2024-06-09T17:00:00+02:00', lastupdatedtime='2025-11-25T08:12:57+01:00', meteringpointcount='1103574', pricearea='NO1', quantitykwh='1472738.4', starttime='2024-06-09T16:00:00+02:00')]

In [27]:
# Optional 
#df_p = pd.read_csv("No_sync/P_Energy.csv")
#df_c = pd.read_csv("No_sync/C_Energy.csv")
print(f"Production df: {df_p.shape} \n {df_p.head(2)}")
print(f"Consumption df: { df_c.shape} \n {df_c.head(2)}")

Production df: (871759, 4)
   priceArea productionGroup                  startTime  quantityKwh
0       NO1           other  2021-10-02T13:00:00+02:00        4.748
1       NO2           hydro  2021-09-28T06:00:00+02:00  5560365.000
Consumption df: (875400, 8)
        id consumptiongroup                    endtime  \
0  264948         tertiary  2022-03-22T08:00:00+01:00
1    2975         tertiary  2021-01-01T05:00:00+01:00

             lastupdatedtime  meteringpointcount pricearea  quantitykwh  \
0  2025-03-31T08:07:25+02:00               55762       NO3    633554.75
1  2024-12-20T10:35:40+01:00               97386       NO1   1104153.60

                   starttime
0  2022-03-22T07:00:00+01:00
1  2021-01-01T04:00:00+01:00

## 5.7 Inserting spark df to Mongo DB Atlas

In [34]:
def inserting_to_mongodb(df, collection = "production_per_group"):
  # df should be spark df
  client = MongoClient(uri)
  db = client["indra"]

  # check if collection exists
  if collection not in db.list_collection_names():
      print("Collection does not exist. Creating...")
      db.create_collection(collection)
      inserting_to_mongodb(df,collection=collection)
  else:
    df.write \
      .format("com.mongodb.spark.sql.DefaultSource") \
      .option("spark.mongodb.output.uri", uri) \
      .option("spark.mongodb.output.database", "indra") \
      .option("spark.mongodb.output.collection", collection) \
      .mode("overwrite") \
      .save()

    print("Success!")

  print("Data loading...")

  df_mongo = (
          spark.read
          .format("com.mongodb.spark.sql.DefaultSource")  # for v10+ connector, this is correct
          .option("spark.mongodb.input.uri", uri)
          .option("spark.mongodb.input.database", "indra")
          .option("spark.mongodb.input.collection", collection)
          .load()
      )

  print("Data Loaded.")
  df_mongo.show(5, truncate=False)

In [83]:
inserting_to_mongodb(df_p, collection= "production_per_group")

Success!

Data Loaded.
+--------------------------+---------+---------------+-----------+-------------------------+
|_id                       |priceArea|productionGroup|quantityKwh|startTime                |
+--------------------------+---------+---------------+-----------+-------------------------+
|{69260eedd334ff502e7d5101}|NO5      |thermal        |76033.0    |2021-10-07T23:00:00+02:00|
|{69260eedd334ff502e7d5102}|NO3      |other          |0.958      |2021-10-06T23:00:00+02:00|
|{69260eedd334ff502e7d5103}|NO2      |solar          |4247.242   |2021-03-30T15:00:00+02:00|
|{69260eedd334ff502e7d5104}|NO3      |hydro          |2643314.8  |2021-01-05T02:00:00+01:00|
|{69260eedd334ff502e7d5105}|NO3      |other          |1.915      |2021-11-27T20:00:00+01:00|
+--------------------------+---------+---------------+-----------+-------------------------+
only showing top 5 rows

In [35]:
inserting_to_mongodb(df_c, collection= "consumption_per_group")

25/12/03 20:14:13 WARN DeprecatedConfigParameter: spark.cassandra.output.throughput_mb_per_sec is deprecated (DSE 6.0.0) and has been automatically replaced with parameter spark.cassandra.output.throughputMBPerSec.

Success!
Data loading...

Data Loaded.

+--------------------------+----------------+-------------------------+------+-------------------------+------------------+---------+-----------+-------------------------+
|_id                       |consumptiongroup|endtime                  |id    |lastupdatedtime          |meteringpointcount|pricearea|quantitykwh|starttime                |
+--------------------------+----------------+-------------------------+------+-------------------------+------------------+---------+-----------+-------------------------+
|{69308c0ab61887254137b2ea}|primary         |2024-09-30T16:00:00+02:00|818803|2025-11-26T10:55:16+01:00|2033              |NO5      |13000.991  |2024-09-30T15:00:00+02:00|
|{69308c0ab61887254137b2eb}|secondary       |2024-02-14T15:00:00+01:00|687510|2025-11-24T02:54:24+01:00|6833              |NO4      |1174573.8  |2024-02-14T14:00:00+01:00|
|{69308c0ab61887254137b2ec}|primary         |2022-09-22T05:00:00+02:00|380600|2025-03-31T18:09:28+02:00|2061              |NO5      |9885.398   |2022-09-22T04:00:00+02:00|
|{69308c0ab61887254137b2ed}|cabin           |2022-06-23T13:00:00+02:00|316879|2025-03-31T05:59:40+02:00|58114             |NO3      |24797.41   |2022-06-23T12:00:00+02:00|
|{69308c0ab61887254137b2ee}|primary         |2022-12-03T05:00:00+01:00|427792|2025-11-28T21:28:47+01:00|11570             |NO3      |83626.53   |2022-12-03T04:00:00+01:00|
+--------------------------+----------------+-------------------------+------+-------------------------+------------------+---------+-----------+-------------------------+
only showing top 5 rows